<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket chat app</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="../public/chat.js" type="javascript"></script>
    <link rel="stylesheet" href="../public/index.css" type="text/css">
    <style>
        html,
        body{
            height: 100%;
            width: 100%;
        }
        #input-form{
            position: fixed;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%, -50%);
            margin: 0 auto;
        }
        #txt-input{
            width: 300px;
            height: 30px;
        }
        #sendB{
            width: 100px;
            height: 40px;
        }
        #msg-field{
            position: fixed;
            left: 50%;
            bottom: 100px;
            transform: translate(-50%, -50%);
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="msg-field"></div>
<form id="input-form">
    <input type="text" id="txt-input">
    <button type="submit" id="sendB">send</button>
</form>
</body>
</html>